<configuration>
    <system.webServer>
        <httpErrors>
          <remove statusCode="404" subStatusCode="-1" />
          <!-- local relative path when responsemode is ExecuteURL -->
          <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />   =
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
         </staticContent>
    </system.webServer>
</configuration>
